.nav {
    margin: 50px auto 0 auto;
    text-align: center;
}
.nav a {
    padding: 8px;
    text-decoration: none;
    color: black;
}
.nav a:hover {
    cursor:pointer;
}
#navlogo {font-weight: bold; padding: 5px}
#navdivider {display:inline; padding: 7px}
.selectedpage {font-style:italic;}

@media screen and (max-width: 600px) {
    .nav {display:none;}
}