.slideshow-container {
    z-index: 0;
    margin: 6% auto 0 auto;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: left;
}
.slideshow-item {
    width: auto;
    height: 600px;
}
.slideshow-title { /* VIDEO SLIDESHOWS ONLY, FRICTION w/ JS */
    text-align: left;
}
.slideshow-video {
    width: 1008px;
     height: 567px;
}
.credits-box {
    margin: 20px auto 50px auto;
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: left;
    max-width: 600px;
    height: 20px;
}
.button-container {
    position: absolute;
    margin-top: 280px;
}

#download-button {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
.credits-box {max-width: 475px;}
.slideshow-item {
    height: 450px;
}
.slideshow-video {
    margin-top: 30%;
    width: 392px;
    height: 220.5px;
}
.slideshow-hitbox {
    height: 45vh;
    top: 3vh;
}
.credits-box{
    margin: 20px auto 0 auto;
    text-align: center;
    justify-content: center;
    border: none;
}
}