.slideshow-container {
    z-index: 0;
    margin: 6% auto 0 auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.slideshow-item {
    max-width: 80vw;
    max-height: 80vh;
}
.slideshow-title { /* VIDEO SLIDESHOWS ONLY, FRICTION w/ JS */
    text-align: left;
}
.slideshow-video {
    width: 1008px;
     height: 567px;
}
.credits-box {
    margin: 20px auto 50px auto;
    font-size: 12px;
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: left;
    max-width: 600px;
    height: 20px;
}
.button-container {
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90vw;
    height: 600px;
}
.button-container img {
    width: 30px;
    height: 30px;
}

#download-button {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
.button-container {
    height: 380px;
}
.button-container img {
    width: 15px;
    height: 15px;
}
.credits-box {max-width: 475px;}

.slideshow-video {
    margin-top: 30%;
    width: 392px;
    height: 220.5px;
}
.slideshow-hitbox {
    height: 45vh;
    top: 3vh;
}
.credits-box{
    margin: 20px auto 0 auto;
    text-align: center;
    justify-content: center;
    border: none;
}
}